<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5">
        <!-- f-weghit -->
        <div class="f-weghit">
          <img src="assets/images/thetstory-logo-white.png" alt="logo" height="60">
          <p>Let's make gifting simple. Celebrate your loved ones with something that grows.</p>
          <ul>
            <li><i class="icon-location-pin icons" aria-hidden="true"></i>  Vile Parle East, Mumbai, MH.</li>
            <li><i class="icon-envelope-letter icons"></i>  hello@thetstory.co</li>
            <li><i class="icon-call-in icons"></i>  797-777-6587</li>
          </ul>
        </div>
        <!-- /f-weghit -->
      </div>
    </div>
  </div>
  <!-- copayright -->
  <div class="copayright cwhite">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
           &copy; {{getCurrentYear}} <a href="http://thetstory.co/">The Terrarium Story Company</a>. All rights reserved.
        </div>
        <div class="text-right col-xs-12 col-sm-6 col-md-6">
          <div class="f-sicon2">
            <ul>
              <li><a href="https://www.facebook.com/thetstoryco/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/thetstory"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /copayright -->
</footer>
