<header>
  <!--  nav  -->
  <nav id="mainNav" class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="index.html">
          <img src="assets/images/thetstory-logo-black.png" alt="logo" height="70" style="margin-top: -25px">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeIn fadeInLeft fadeInUp fadeInRight">
        <ul class="nav navbar-nav">

          <li> <a href="http://thetstory.co/" class="dropdown-toggle"><span>Home</span></a> </li>
          <li> <a href="about.html" class="dropdown-toggle"><span>About</span></a> </li>

          <li> <a href="contact.html"><span>Contact</span></a> </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="#" data-toggle="modal" data-target=".menu-popup"><img src="assets/images/top-icon2.png" alt="top-icon2"></a>
          </li>
        </ul>
        <!-- /.navbar-collapse -->
      </div>
    </div>
  </nav>
  <!--  /nav  -->
  <!-- search-popup -->
  <div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content search-popup">
        <div class="text-center">
          <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
        </div>
        <div class="search-outer">
          <div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
          <div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /search-popup -->
  <!--  .menu  -->
  <div class="modal fade bs-example-modal-lg search-bg menu-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content search-popup">
        <nav class="navbar navbar-inverse openmenu">
          <ul class="nav navbar-nav">

            <li> <a href="http://thetstory.co/"><span>Home</span></a> </li>
            <li> <a href="about.html"><span>About</span></a> </li>
            <li> <a href="contact.html"><span>Contact</span></a> </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--  /.menu  -->
  <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- .home-slider -->
    <div class="carousel-inner">
      <div class="item active" style="background-image: url(assets/img/header-6.jpg);  background-repeat: no-repeat; background-position: top;">
        <div class="caption">
          <h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Succulents &amp; Cacti</h2>
          <p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">As rich and unique as the coffee beans it is intended for, this little scoop will make your morning ritual a special occasion every day. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
      </div>
      <div class="item" style="background-image: url(assets/img/header-7.jpg);  background-repeat: no-repeat; background-position: top;">
        <div class="caption">
          <h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Home Decor</h2>
          <p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">As rich and unique as the coffee beans it is intended for, this little scoop will make your morning ritual a special occasion every day. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
      </div>
      <div class="item" style="background-image: url(assets/img/header-8.jpg);  background-repeat: no-repeat; background-position: top;">
        <div class="caption">
          <h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Garden Planning</h2>
          <p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">As rich and unique as the coffee beans it is intended for, this little scoop will make your morning ritual a special occasion every day. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
      </div>
      <!-- indicators -->
      <ol class="carousel-indicators">
        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-slider" data-slide-to="1" class=""></li>
        <li data-target="#home-slider" data-slide-to="2" class=""></li>
      </ol>
      <!-- /indicators -->
    </div>
    <!-- /.home-slider -->
  </div>
</header>
