<header>
  <!--  nav  -->
  <nav id="mainNav" class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="index.html">
          <img src="/assets/images/thetstory-logo-black.png" alt="logo" height="70" style="margin-top: -25px">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeIn fadeInLeft fadeInUp fadeInRight">
        <ul class="nav navbar-nav">

          <li> <a href="dev" class="dropdown-toggle"><span>Home</span></a> </li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>Shop</span></a>
            <div class="dropdown-menu dropdownhover-bottom mega-menu" role="menu">
              <div class="col-sm-8 col-md-8">
                <ul>
                  <li><strong>Jars</strong></li>
                  <li><a href="product/TS10001">Sample Live Page</a></li>
                </ul>
                <ul>
                  <li><strong>Pots</strong></li>
                  <li><a href="#">Placeholder</a></li>
                </ul>
              </div>
              <div class="col-sm-4 col-md-4"> <img src="/assets/images/Hover-menu-img.jpg" alt="Hover-menu-img"> </div>
            </div>
          </li>
          <li> <a href="about" class="dropdown-toggle"><span>About</span></a> </li>

          <li> <a href="contact"><span>Contact</span></a> </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="#" data-toggle="modal" data-target=".menu-popup"><img src="/assets/images/top-icon2.png" alt="top-icon2"></a>
          </li>
        </ul>
        <!-- /.navbar-collapse -->
      </div>
    </div>
  </nav>
  <!--  /nav  -->
  <!-- search-popup -->
  <div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content search-popup">
        <div class="text-center">
          <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
        </div>
        <div class="search-outer">
          <div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
          <div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /search-popup -->
  <!--  .menu  -->
  <div class="modal fade bs-example-modal-lg search-bg menu-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content search-popup">
        <nav class="navbar navbar-inverse openmenu">
          <ul class="nav navbar-nav">

            <!-- <li> <a href="http://thetstory.co/"><span>Home</span></a> </li> -->
            <li> <a href="/dev"><span>Home</span></a> </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>Shop</span></a>
              <div class="dropdown-menu dropdownhover-bottom mega-menu" role="menu">
                <div class="col-sm-8 col-md-8">
                  <ul>
                    <li><strong>Jars</strong></li>
                    <li><a href="/product">Sample Live Page</a></li>
                  </ul>
                  <ul>
                    <li><strong>Pots</strong></li>
                    <li><a href="#">Placeholder</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-md-4"> <img src="/assets/images/Hover-menu-img.jpg" alt="Hover-menu-img"> </div>
              </div>
            </li>
            <li> <a href="/about"><span>About</span></a> </li>
            <li> <a href="/contact"><span>Contact</span></a> </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--  /.menu  -->

</header>
