<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
	{{> header}}
	<div class="about-header">
		<!-- .inner-header -->
		<h2> Our Story</h2>
		<!-- /.inner-header -->
	</div>
	<section class="subscribe text-center">
		<!-- .about -->
		<div class="container">
			<h2>The Terrarium Story Company</h2>
			<p>Our vision is to make gifting simple. Give your loved ones something that grows.
				<br/> This is us, from roots to fruits.
			</p>

		</div>
		<!-- /.about -->
	</section>

	<section class="section-padding">
		<!-- Team -->
		<div class="container">
			<div class="tittle text-center">
				<h2>Team</h2>
				<p>The Three Musketeers</p>
			</div>
			<div class="col-sm-4 col-md-4 text-center" data-wow-duration=".2s" data-wow-delay=".1s">
				<div class="news-box">
					<div class="news-img">
						<img src="assets/images/blog-img1.jpg" alt="news-img1" />
					</div>
					<div class="news-text"> <h3>Shalaka Shinde</h3>
						<p>By <span>Zcubedesign</span> / September 11, 2017</p>
						<div class="news-text-content"> Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum. </div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4 text-center" data-wow-duration=".2s" data-wow-delay=".1s">
				<div class="news-box">
					<div class="news-img">
						<img src="assets/images/blog-img2.jpg" alt="news-img1" />
					</div>
					<div class="news-text"> <h3>Rohan Kalgutkar</h3>
						<p>By <span>Zcubedesign</span> / September 11, 2017</p>
						<div class="news-text-content"> Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum. </div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4 text-center" data-wow-duration=".4s" data-wow-delay=".3s">
				<div class="news-box">
					<div class="news-img">
						<img src="assets/images/blog-img3.jpg" alt="news-img1" />
					</div>
					<div class="news-text"> <h3>Dishika Sanil</h3>
						<p>By <span>Zcubedesign</span> / September 11, 2017</p>
						<div class="news-text-content"> Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum. </div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Team -->
	</section>


	{{> footer}}

	<script src="assets/js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-dropdownhover.min.js"></script>
	<script src="assets/js/incrementing.js"></script>
	<!-- Plugin JavaScript -->
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<!--  Custom Theme JavaScript  -->
	<script src="assets/js/custom.js"></script>
	<!-- owl carousel -->
	<script src="assets/owl-carousel/owl.carousel.js"></script>
</body>

</html>
