<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
	{{> header}}
	<div class="about-header">
		<!-- .inner-header -->
		<h2> Our Story</h2>
		<!-- /.inner-header -->
	</div>
	<section class="subscribe text-center">
		<!-- .about -->
		<div class="container">
			<h2>The Terrarium Story Company</h2>
			<blockquote class="blockquote">
				<p class="mb-0">If you're working on something exciting that you really care about, you don't have to be pushed.
					<br> The vision pulls you.</p>
				<span class="blockquote-footer"><cite title="Source Title">– Steve Jobs</cite></span>
			</blockquote>
			<p class="para">
				Though cacti and succulents are naturally grown in arid regions, we at <i>thetstory</i> believe that it makes a great metaphor for who we are. Some may prefer to be roses or tulips who whither away in merely weeks, we as humans are more like these
				succulents who can grow on their own just fine but truly show their magnificence when taken proper care of.
				<br> Our vision is to make gifting simple. Celebrate your loved ones with something that grows.</p>
			<p class="para"> This is us, from roots to fruits.</p>
		</div>
		<!-- /.about -->
	</section>

	<section class="section-padding">
		<!-- Team -->
		<div class="container">
			<div class="tittle text-center">
				<h2>Team</h2>
				<p>The Three Musketeers</p>
			</div>
			<div class="col-sm-4 col-md-4 text-center" data-wow-duration=".2s" data-wow-delay=".1s">
				<div class="news-box">
					<div class="news-img">
						<img src="assets/img/shalaka.jpg" alt="news-img1" />
					</div>
					<div class="news-text">
						<h3>Shalaka Shinde</h3>
						<p><span>Co-founder</span> / September 11, 2017</p>
						<div class="news-text-content"> Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum. </div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4 text-center" data-wow-duration=".2s" data-wow-delay=".1s">
				<div class="news-box">
					<div class="news-img">
						<img src="assets/img/rohan.jpg" alt="news-img1" />
					</div>
					<div class="news-text">
						<h3>Rohan Kalgutkar</h3>
						<p><span>Co-founder</span> /
							<a href="https://www.instagram.com/daft_ro"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="https://rohankalgutkar.in"><i class="fa fa-external-link-square" aria-hidden="true"></i></a></p>
						<div class="news-text-content"> Engineer by profession, entrepreneur by passion.
							<br> #StayHungryStayFoolish
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4 text-center" data-wow-duration=".4s" data-wow-delay=".3s">
				<div class="news-box">
					<div class="news-img">
						<img src="assets/img/dishika.jpg" alt="news-img1" />
					</div>
					<div class="news-text">
						<h3>Dishika Sanil</h3>
						<p><span>Co-founder</span> / September 11, 2017</p>
						<div class="news-text-content"> Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum. </div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Team -->
	</section>


	{{> footer}}

	<script src="assets/js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-dropdownhover.min.js"></script>
	<script src="assets/js/incrementing.js"></script>
	<!-- Plugin JavaScript -->
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<!--  Custom Theme JavaScript  -->
	<script src="assets/js/custom.js"></script>
	<!-- owl carousel -->
	<script src="assets/owl-carousel/owl.carousel.js"></script>
</body>

</html>
