
<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
	{{> header}}
	<div class="inner-header">
		<!-- .inner-header -->
		<h2> Make us a chapter of yours</h2>
		<!-- /.inner-header -->
	</div>

	<section>
		<!-- .contact form -->
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="contact-form">
						<div class="contact-title">
							<h2>
								Contact Info
							</h2>
						</div>
					</div>
					<div class="col-md-12 contact-info">
						<ul>
							<li>
								<div class="img-icon">
									<img src="assets/images/contact-icon1.jpg" alt="phone-icon">
								</div>
								<strong>Our Address</strong>
								<br/> Vile Parle East, Mumbai
							</li>
							<li>
								<div class="img-icon">
									<img src="assets/images/contact-icon3.jpg" alt="phone-icon">
								</div>
								<strong>Phone</strong>
								<br/> WhatsApp: 797-777-6587
							</li>
							<li>
								<div class="img-icon">
									<img src="assets/images/contact-icon2.jpg" alt="phone-icon">
								</div>
								<strong>Email Address </strong>
								<br/> hello@thetstory.co
							</li>
						</ul>
						<p>Outstock is a premium Templates theme with advanced admin module. It’s extremely customizable, easy to use and fully responsive and retina ready. Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
						<div class="f-sicon2">
							<ul>
								<li><a href="https://www.facebook.com/thetstoryco/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	              <li><a href="https://www.instagram.com/thetstoryco"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>

				</div>
				<div class="col-md-6">
					<div class="contact-form">
						<div class="contact-title">
							<h2>
								Contact From
							</h2>
						</div>
						<form action="#" method="post" id="commentform" class="comment-form">
							<div class="col-md-6">
								<p>Name <span>*</span></p>
								<p class="comment-form-author">
									<input id="author" name="author" value="" size="30" type="text">
								</p>
							</div>
							<div class="col-md-6">
								<p>Email <span>*</span></p>
								<p class="comment-form-email">
									<input id="email" name="email" value="" size="30" type="text">
								</p>
							</div>
							<div class="col-md-12">
								<p>Comments <span>*</span></p>
								<p class="comment-form-comment">
									<textarea id="comment" name="comment" cols="45" rows="6" placeholder="Comment" aria-required="true"></textarea>
								</p>
							</div>
							<div class="col-md-12">
								<p class="form-submit">
									<input name="submit" id="submit" class="btn btn-secondary" value="send messages" type="submit"> </p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /.contact form  -->
	</section>
	{{> footer}}

	<script src="assets/js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-dropdownhover.min.js"></script>
	<script src="assets/js/incrementing.js"></script>
	<!-- Plugin JavaScript -->
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<!--  Custom Theme JavaScript  -->
	<script src="assets/js/custom.js"></script>
	<!-- owl carousel -->
	<script src="assets/owl-carousel/owl.carousel.js"></script>
</body>

</html>
