
<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
	{{> header}}
	<div class="inner-header">
		<!-- .inner-header -->
		<h2> Make us a chapter of yours</h2>
		<!-- /.inner-header -->
	</div>

	<section>
		<!-- .contact form -->
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="contact-form">
						<div class="contact-title">
							<h2>
								Contact Info
							</h2>
						</div>
					</div>
					<div class="col-md-12 contact-info">
						<ul>
							<li>
								<div class="img-icon">
									<img src="assets/images/contact-icon1.jpg" alt="phone-icon">
								</div>
								<strong>Our Address</strong>
								<br/> Vile Parle East, Mumbai
							</li>
							<li>
								<div class="img-icon">
									<img src="assets/images/contact-icon3.jpg" alt="phone-icon">
								</div>
								<strong>Phone</strong>
								<br/> <i class="fa fa-whatsapp"></i> <a href="tel:7977776587">797-777-6587</a> / <i class="fa fa-phone"></i> <a href="tel:9619817506">9619-817-506</a>
							</li>
							<li>
								<div class="img-icon">
									<img src="assets/images/contact-icon2.jpg" alt="phone-icon">
								</div>
								<strong> Email </strong>
								<br/> <a href="mailto:hello@thetstory.co">hello@thetstory.co</a> / <a href="mailto:support@thetstory.co">support@thetstory.co</a>
							</li>
						</ul>
						<p>
							Have any questions? We'd love to answer. <br>
							Are you an artist who'd wish to collaborate with us? Head over <a href="/collaborate">here</a>.<br>
							For bulk or corporate orders, drop us a message, we'll get in touch with you.</p>
						<div class="f-sicon2">
							<ul>
								<li><a href="https://www.facebook.com/thetstoryco/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	              <li><a href="https://www.instagram.com/thetstoryco"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>

				</div>
				<div class="col-md-6">
					<div class="contact-form">
						<div class="contact-title">
							<h2>
								Contact From
							</h2>
						</div>
						<form action="/contact" method="post" id="commentform" class="comment-form">
							<div class="col-md-6">
								<p>Name <span>*</span></p>
								<p class="comment-form-name">
									<input id="name" name="name" value="" size="30" type="text">
								</p>
							</div>
							<div class="col-md-6">
								<p>Phone <span>*</span></p>
								<p class="comment-form-phone">
									<input id="phone" name="phone" value="" size="30" type="text">
								</p>
							</div>
							<div class="col-md-12">
								<p>Email <span>*</span></p>
								<p class="comment-form-email">
									<input id="email" name="email" value="" size="60" type="text">
								</p>
							</div>
							<div class="col-md-12">
								<p>Message <span>*</span></p>
								<p class="comment-form-message">
									<textarea id="message" name="message" cols="45" rows="6" aria-required="true"></textarea>
								</p>
							</div>
							<div class="col-md-12">
								<p class="form-submit">
									<input name="submit" id="submit" class="btn btn-secondary" value="send message" type="submit"> </p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /.contact form  -->
	</section>
	{{> footer}}

	<script src="assets/js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-dropdownhover.min.js"></script>
	<script src="assets/js/incrementing.js"></script>
	<!-- Plugin JavaScript -->
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<!--  Custom Theme JavaScript  -->
	<script src="assets/js/custom.js"></script>
	<!-- owl carousel -->
	<script src="assets/owl-carousel/owl.carousel.js"></script>
</body>

</html>
