<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{pageTitle}}</title>
	<!-- Standard -->
	<link rel="shortcut icon" href="assets/img/ficon.png">
	<!-- Latest Bootstrap min CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
	<!-- Dropdownhover CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-dropdownhover.min.css" type="text/css">
	<!-- latest fonts awesome -->
	<link rel="stylesheet" href="assets/font/css/font-awesome.min.css" type="text/css">
	<!-- simple line fonts awesome -->
	<link rel="stylesheet" href="assets/simple-line-icon/css/simple-line-icons.css" type="text/css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="assets/css/animate.min.css" type="text/css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="assets/css/style.css" type="text/css">
	<!--  baguetteBox -->
	<link rel="stylesheet" href="assets/css/baguetteBox.css">
	<!-- Owl Carousel Assets -->
	<link href="assets/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="assets/owl-carousel/owl.theme.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
	<!--  Preloader  -->
	<!-- <div id="preloader">
		<div id="loading"> </div>
	</div> -->
	{{> header}}
	<section class="banner-outer">
		<!-- .banner-outer -->
		<div class="container">
			<!-- .banner-bg -->
			<div class="banner-bg">
				<div class="col-sm-4 col-md-4">
					<!-- .banner-img -->
					<div class="banner-img animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s"> <img src="assets/images/banner1.jpg" alt="about-img1" />
						<div class="banner-text">
							<h3>British Made Pocket Knife - Oak</h3>
							<p><a href="#">Discover Now</a></p>
						</div>
					</div>
					<!-- /.banner-outer -->
				</div>
				<div class="col-sm-4 col-md-4">
					<!-- .banner-img -->
					<div class="banner-img animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s"> <img src="assets/images/banner2.jpg" alt="about-img1" />
						<div class="banner-text">
							<h3>Chair Kimi No Isu Project</h3>
							<p><a href="#">Discover Now</a></p>
						</div>
					</div>
					<!-- /.banner-outer -->
				</div>
				<div class="col-sm-4 col-md-4 animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">
					<!-- .banner-img -->
					<div class="banner-img"> <img src="assets/images/banner3.jpg" alt="about-img1" />
						<div class="banner-text">
							<h3>Merino Lambswool Scarf Moss</h3>
							<p><a href="#">Discover Now</a></p>
						</div>
					</div>
					<!-- /.banner-outer -->
				</div>
			</div>
			<!-- /.banner-bg -->
		</div>
		<!-- /.banner -->
	</section>
	<section class="new-arrivals">
		<!-- .new-arrivals -->
		<div class="container">
			<div class="tittle text-center">
				<h2>Trending Products</h2>
				<p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
			</div>
			<div class="row animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/21.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/26.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="new tage"> <span class="new-text">NEW</span> <span class="pres-text">-15%</span> </div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/24.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>



				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="assets/images/Products/6.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="discount tage"> <span class="discount-text">-15%</span> </div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">$160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
			</div>
		</div>
		<!-- /.new-arrivals -->
	</section>

	{{> footer}}
	<!--  /main  -->
	<!-- Get Our Email Letter popup -->
	<!-- <div class="modal fade modal-popup" id="modal1" data-open-onload="true" data-open-delay="1500" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="background-image:url('images/modal-background.jpg'); background-size:cover">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-2 pt-20 text-center">
							</div>
							<div class="col-sm-8 pt-20 text-center">
								<h2 class="heading font34 inverse">
									Get Our Email Letter</h2>
								<p class="font22 text-center">Subscribe to the Outstock mailing list to receive updates on new arrivals, special offers and other discount information.</p>
								<form name="main">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Enter your Email id"> </div>
									<div class="form-group">
										<button class="btn btn-black" type="button">Subscribe!</button>
									</div>
								</form>
							</div>
							<div class="col-sm-2 pt-20 text-center">
							</div>
							<div class="col-sm-12">
								<div class="form-group text-right">
									<input type="checkbox" name="check" /> Do not show this popup again </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- /Get Our Email Letter popup -->
	<!--  quick popup  -->
	<div class="modal fade bwidth" id="quickModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<!-- left side -->
								<div class="col-sm-6 col-md-6">
									<!-- product gallery -->
									<div id="home-slider3" class="carousel fadein carousel-fade" data-ride="carousel">
										<!-- .home-slider -->
										<div class="carousel-inner">
											<div class="item active">
												<div class="caption">
													<img src="assets/images/Products/1.jpg" alt="qoute-icon">
												</div>
											</div>
											<div class="item">
												<div class="caption">
													<img src="assets/images/Products/11.jpg" alt="qoute-icon">
												</div>
											</div>
											<div class="item">
												<div class="caption">
													<img src="assets/images/Products/8.jpg" alt="qoute-icon">
												</div>
											</div>
											<div class="item">
												<div class="caption">
													<img src="assets/images/Products/16.jpg" alt="qoute-icon">
												</div>
											</div>
											<ul class="carousel-indicators">
												<li data-target="#home-slider3" data-slide-to="0" class="active"> <img src="assets/images/Products/1.jpg" alt="qoute-icon"></li>
												<li data-target="#home-slider3" data-slide-to="1" class=""> <img src="assets/images/Products/11.jpg" alt="qoute-icon"></li>
												<li data-target="#home-slider3" data-slide-to="2" class=""> <img src="assets/images/Products/8.jpg" alt="qoute-icon"></li>
												<li data-target="#home-slider3" data-slide-to="3" class=""> <img src="assets/images/Products/16.jpg" alt="qoute-icon"></li>
											</ul>
										</div>
										<!-- /.home-slider -->
									</div>
									<!-- / product gallery -->
								</div>
								<!-- left side -->
								<!-- right side -->
								<div class="col-sm-6 col-md-6">
									<!-- .pro-text -->
									<div class="pro-text product-detail">
										<!-- /.pro-img -->
										<a href="#">
											<h4>Wooden Container Bowl</h4>
										</a>
										<div class="star2">
											<ul>
												<li class="red-color"><i class="fa fa-star" aria-hidden="true"></i></li>
												<li class="red-color"><i class="fa fa-star" aria-hidden="true"></i></li>
												<li class="red-color"><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><a href="#">10 review(s)</a></li>
												<li><a href="#"> Add your review</a></li>
											</ul>
										</div>
										<p class="price-detail">$160.00 <span>$254.00</span></p>
										<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
										<ul class="short-ul">
											<li>Claritas est etiam processus dynamicus.</li>
											<li>Qui sequitur mutationem consuetudium lectorum. </li>
											<li>Claritas est etiam processus dynamicus.</li>
										</ul>
										<div class="size">
											<p>Size *</p>
											<div class="select-option">
												<select>
                                       <option value="28">28</option>
                                       <option value="32">32</option>
                                       <option value="34">34</option>
                                       <option value="36">36</option>
                                       <option value="Featured Pots">- Please select -</option>
                                    </select>
											</div>
										</div>
										<div class="size">
											<p>Color *</p>
											<div class="select-option">
												<select>
                                       <option value="Black">Black</option>
                                       <option value="Red">Red</option>
                                       <option value="Featured Pots">- Please select -</option>
                                    </select>
											</div>
										</div>
										<form>
											<div class="numbers-row">
												<input name="french-hens" id="french-hens" value="3" type="text">
												<div class="inc button">+</div>
												<div class="dec button">-</div>
											</div>
										</form>
										<a href="#" class="addtocart2">Add to cart</a>
										<a href="#" class="hart"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
										<a href="#" class="hart"><i class="fa fa-sliders" aria-hidden="true"></i></a>
										<div class="tag">
											<p>Categories: <span>Bags, Blazers, Boots, Jackets, Pants, Shirts.</span></p>
											<p>Tag: <span>outerwear.</span></p>
										</div>
										<div class="share">
											<ul>
												<li>Share:</li>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
											</ul>
										</div>

									</div>
									<!-- /.pro-text -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<!--  / quick popup  -->
	<script src="assets/js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-dropdownhover.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<!--  Custom Theme JavaScript  -->
	<script src="assets/js/custom.js"></script>
	<!-- owl carousel -->
	<script src="assets/owl-carousel/owl.carousel.js"></script>

</body>

</html>
